html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0 auto;

  background-color: #849d8f;

  font-family: "Roboto", "Arial", sans-serif;
}

img {
  max-width: 100%;
}

.visibility-hidden {
  position: absolute;
  top: 550px;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}


.weight::after {
  content: " кг х";
}

.basket-price::after, .basket-price-summ::after {
  content: " Руб.";
}

span.kg::before {
  margin-left: 3px;

  content: "₽";

  font-size: 45px;
  font-weight: bold;
}

.main-footer a, .contacts a, .breadcrumbs a {
  color: #ffffff;
}

.main-footer a:hover, .contacts a:hover, .breadcrumbs a:hover {
  color: #ffbc9e;
}

.main-footer a:focus, .contacts a:focus, .breadcrumbs a:focus {
  color: #ffbc9e;
}

.main-footer a:active, .main-header a:active, .breadcrumbs a:active {
  color: #ffbc9e;
}

.list-none ul {
  list-style-type: none;
}

.main-navigation a {
  color: #ffffff;

  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

.main-navigation-catalog a {
  text-decoration: none;

  color: #323232;

  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
}

.footer-info .a-bold, .main-navigation-catalog .a-bold {
  font-weight: bold;
}

.main-navigation-catalog li:hover {
  background-color: #fbded7;
}

.main-navigation-catalog li:active {
  color: #323232;
  background-color: #f6b5a5;
}

.main-navigation-catalog a:active {
  color: #323232;
}

.main-navigation-catalog .menu-activ {
  background-color: #d07058;
}

.menu-activ a {
  cursor: pointer;

  color: #ffffff;
}

.upper-level > a {
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 7px;
  padding-left: 14px;

  border-radius: 16px;
}

.upper-level:hover > a, .nav-up-anchor:focus {
  cursor: pointer;
  text-decoration: none;

  color: #323232;
  background-color: rgb(247, 246, 243);
}

.upper-level > a:active {
  cursor: pointer;
  text-decoration: none;

  color: #323232;
  background-color: rgb(247, 246, 243);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1);
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1);
}


.btn-user-navigation, .btn-shopping-basket {
  color: #ffffff;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.btn-shopping-basket .filled {
  position: relative;

  color: #323232;
}

.logon-div a {
  color: #323232;
}

.contacts {
  color: #ffffff;

  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.contacts a {
  letter-spacing: -0.4px;

  font-size: 22px;
  line-height: 24px;
}

section.features {
  width: 1146px;
  margin-top: -63px;
  padding-right: 0;
  padding-left: 0;

  border-radius: 16px;
  background-color: #fae4b4;
  background-image: url("../img/background-features.jpg");
}

.features h2 {
  color: #323232;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features li {
  letter-spacing: 0.1px;
  word-spacing: 0;

  color: #323232;

  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

article.news-blog {
  width: 560px;
  min-height: 220px;
  margin-bottom: 20px;

  border-radius: 16px;
  background-color: #f8d2c4;
  background-image: url("../img/background-strawberry.jpg");
  background-size: cover;
}

.news-blog h2 {
  margin-top: 23px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding-right: 230px;

  color: #323232;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.news-blog a {
  display: block;

  max-width: 310px;
  padding-left: 20px;

  color: #323232;

  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

section.subscription {
  position: relative;

  width: 560px;
  min-height: 220px;
  margin-bottom: 20px;

  border-radius: 16px;
  background-color: #fdf4e3;
  background-image: url("../img/mail-background.png");
  background-size: cover;
}

div.mail-content {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 549px;
  min-height: 211px;
  margin: 5px auto;

  border-radius: 16px;
  background-color: #f8f7f4;
}

.mail-content p {
  margin-top: 30px;
  margin-left: 21px;
  padding-right: 10px;

  letter-spacing: 0.05px;
}

.subscription p {
  margin-top: 0;
  padding-top: 30px;

  color: #5a5a5a;

  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

.subscription input {
  color: #999999;

  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.subscription button {
  color: #fefefe;
  border: none;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.footer-info a {
  color: #ffffff;

  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}


.footer-copyrigh, .footer-copyrigh a {
  color: #fefefe;

  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
}

.breadcrumbs li:last-of-type a {
  color: #ffffff;
}

.header-catalog {
  color: #ffffff;

  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.price {
  color: #ffffff;

  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}

.price .kg {
  font-size: 30px;
  font-weight: normal;
}

a.product {
  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.assortment img {
  width: 267px;
  height: 267px;

  border-radius: 50%;
}

button.btn-search {
  width: 33px;
  height: 33px;

  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/search-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto auto;
}

.btn-search:hover button {
  cursor: pointer;

  border: none;
  background-color: #f8f7f4;
  background-image: url("../img/search-icon-hover.png");
}

.btn-search:hover form, .btn-search:focus + form {
  top: 54px;
}
.btn-search:focus-within form{
  top: 54px;
}

button.btn-user-navigation {
  width: 93px;
  height: 32px;
  padding-right: 16px;

  text-align: right;

  border: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/login-icon.png");
  background-repeat: no-repeat;
  background-position: 16px 50%;
  background-size: auto auto;
}

.btn-user-navigation:hover .btn-user-navigation {
  cursor: pointer;

  color: #323232;
  border: none;
  background-color: #f8f7f4;
  background-image: url("../img/login-icon-hover.png");
}

button.btn-shopping-basket {
  width: 100px;
  height: 33px;
  padding-right: 17px;

  text-align: right;

  border: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/empty-basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px 50%;
  background-size: auto auto;
}

button.btn-shopping-basket.filled {
  width: 117px;
  height: 32px;
  padding-right: 17px;

  text-align: right;

  border: none;
  border-radius: 16px;
  background-color: rgba(248, 247, 244, 0.99);
  background-image: url("../img/filled-basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px 50%;
  background-size: auto auto;
}

.breadcrumbs ul {
  margin: 15px 0 0 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline;

  margin-left: 0;
}

.breadcrumbs li:not(:last-of-type)::after {
  padding-right: 2px;
  padding-left: 6px;

  content: "»";

  color: #ffffff;
}

.content-center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;

}

.main-header {
  position: relative;
  z-index: 35;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 5px;



  -webkit-box-pack: start;


  -ms-flex-pack: start;


  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.logo-index {
  min-width: 154px;
  margin-top: 9px;
  margin-right: 10px;
}

.main-navigation ul {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 0;



  -ms-flex-wrap: wrap;


  flex-wrap: wrap;
}

.main-navigation {
  margin-right: auto;
}

.btn-shopping-basket {
  margin-right: 0;
  margin-left: 5px;
}

.btn-user-navigation {
  margin-left: 5px;
}

.sliders-offers {
  position: relative;

  min-height: 807px;
  margin-bottom: 69px;
}

.sliders-offers::before {
  position: absolute;
  z-index: 0;
  top: -82px;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";

  background: -webkit-radial-gradient(50% 31%, circle closest-corner, rgba(255, 255, 255, 0.8) 0, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0.0) 75%);
  background: -o-radial-gradient(50% 31%, circle closest-corner, rgba(255, 255, 255, 0.8) 0, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0.0) 75%);
  background: radial-gradient(circle closest-corner at 50% 31%, rgba(255, 255, 255, 0.8) 0, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0.0) 75%);
}

.features {
  min-height: 201px;
  margin-bottom: 40px;
}

.features h2 {
  padding-top: 25px;
  padding-left: 19px;

}

ul.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;



  -ms-flex-wrap: wrap;


  flex-wrap: wrap;
}

.features li:nth-child(odd) {
  margin-right: 48px;
}

.features li {
  position: relative;

  max-width: 483px;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: 36px;
}

.features li::before {
  position: absolute;
  top: -12px;
  left: -56px;
}

.features li:nth-child(even)::before {
  position: absolute;
  top: -12px;
  left: -58px;
}

li.production::before {
  content: url("../img/ice-cream.svg");
}

li.ingredients::before {
  content: url("../img/cow.svg");
}

li.manufacturing::before {
  content: url("../img/leaf.svg");
}

li.delivery::before {
  content: url("../img/thermometer.svg");
}

.news-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 40px;



  -ms-flex-wrap: wrap;


  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.map-space {
  position: relative;

  width: 100%;
  height: 430px;
  margin-top: -20px;
}

.adress-wrap {
  position: relative;
  top: 0;

  width: 1200px;
  height: 0;
  margin: 0 auto;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 15px;



  -webkit-box-pack: justify;


  -ms-flex-pack: justify;


  justify-content: space-between;
}

ul.footer-info {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  max-width: 315px;
  padding-left: 0;



  -ms-flex-wrap: wrap;


  flex-wrap: wrap;
}

.footer-info li:nth-child(odd) {
  width: 151px;
  padding-bottom: 3px;
  padding-left: 9px;

  letter-spacing: 0.1px;
}

.footer-info li:first-child::before {
  position: absolute;
  top: 3px;
  left: -13px;

  content: url("../img/heart-icon.svg");
}

ul.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 186px;
  padding-top: 3px;
  padding-left: 0;



  -webkit-box-pack: justify;


  -ms-flex-pack: justify;


  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


.breadcrumbs-contacts {
  position: relative;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: auto;
  margin-bottom: 0;
  padding-bottom: 0;



  -webkit-box-pack: start;


  -ms-flex-pack: start;


  justify-content: flex-start;
}

.breadcrumbs {
  margin-left: 0;
}

.contacts {
  min-width: 170px;
  margin-right: 0;
  margin-left: auto;
  padding-bottom: 0;

  text-align: right;
}

.contacts p {
  margin: -10px 0;
  padding-top: 0;
  padding-bottom: 15px;
}

.contacts a {
  margin: 0;
  padding: 0;
}

.assortment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;



  -ms-flex-wrap: wrap;


  flex-wrap: wrap;
}

li.product {
  position: relative;

  width: 292px;
  margin-top: -48px;

  border-radius: 5px;
}

.filters {
  min-height: 135px;
  margin-bottom: 83px;

  color: #ffffff;
}

h1.header-catalog {
  margin: 3px 0 0 0;
  padding: 0;

  letter-spacing: -0.1px;
}


ul.main-navigation-catalog {
  position: absolute;
  top: -444px;
  left: -7px;

  display: block;

  margin: 0;
  padding: 0;

  border-radius: 4px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-navigation-catalog li {
  padding: 8px 22px 5px 20px;
}

.main-navigation-catalog li:first-of-type {
  padding-top: 8px;
  padding-bottom: 11px;

  border-bottom: 1px solid gray;
}

.main-navigation-catalog li:last-of-type {
  margin-bottom: 7px;
}

.upper-level:hover ul.main-navigation-catalog, .nav-up-anchor:focus + .main-navigation-catalog {
  top: 44px;

  display: block;
}

.main-navigation-catalog:focus-within {
  top: 44px;
}



div.btn-search, div.btn-user-navigation {
  position: relative;
}

.btn-search form {
  position: absolute;
  top: -540px;
  right: 0;

  display: block;

  min-width: 341px;
  min-height: 84px;

  text-align: center;

  border-radius: 6px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.btn-search input {
  display: inline-block;

  min-width: 310px;
  height: 42px;
  margin-top: 21px;
  padding-left: 13px;

  vertical-align: top;

  color: #999999;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);

  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

.btn-user-navigation form {
  position: absolute;
  top: -540px;
  right: 0;

  display: block;

  min-width: 277px;
  min-height: 214px;

  text-align: center;

  border-radius: 6px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.btn-user-navigation:hover form, .btn-user-navigation:focus + form {
  top: 50px;
}
.btn-user-navigation:focus-within form{
  top: 50px;
}

.btn-user-navigation input {
  display: inline-block;

  min-width: 240px;
  margin-top: 21px;
  margin-bottom: 1px;
  margin-left: 20px;
  padding: 8px 13px;

  vertical-align: top;

  color: #999999;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);

  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

.btn-user-navigation #submit-logon {
  float: left;

  margin: 20px 20px 0 20px;
  padding: 10px 25px;

  color: #fefefe;
  border: none;
  border-radius: 25px/30px;
  background-color: #ec593c;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.rem {
  float: left;

  margin-top: 22px;

  text-align: left;
}

.rem a {
  display: block;

  padding: 0 0 5px 0;

  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
}


.feedback {
  position: fixed;
  z-index: 235;
  top: 50%;
  left: 50%;

  display: none;

  min-width: 477px;
  max-width: 477px;
  min-height: 442px;
  margin-top: -239px;
  margin-left: -237px;

  -webkit-animation: show-block 0.5s 1;
  animation: show-block 0.5s 1;
  text-align: left;

  border-radius: 8px;
  background-color: #f8f7f4;



  -webkit-animation-fill-mode: forwards;


  animation-fill-mode: forwards;
}


@-webkit-keyframes show-block {
  0 {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;

    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes show-block {
  0 {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;

    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.feedback p {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 23px;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.feedback input {
  display: inline-block;

  min-width: 267px;
  height: 44px;
  margin-bottom: 20px;
  margin-left: 24px;
  padding-left: 13px;

  vertical-align: top;

  color: #999999;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);

  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.feedback textarea {
  min-width: 267px;
  max-width: 428px;
  margin-bottom: 94px;
  margin-left: 24px;
  padding: 10px 13px 16px 13px;

  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
}

.feedback button {
  position: relative;

  float: right;

  margin: 25px 23px 25px 20px;
  padding: 10px 25px;

  color: #fefefe;
  border: none;
  border-radius: 25px/30px;
  background-color: #ec593c;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.feedback .submit-feedback {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mail-content input {
  display: inline-block;

  min-width: 368px;
  height: 44px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 21px;
  padding-left: 13px;

  vertical-align: top;

  color: #999999;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);

  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.mail-content button {
  margin: 20px 0 0 7px;
  padding: 10px 20px;

  color: #fefefe;
  border: none;
  border-radius: 25px/30px;
  background-color: #ec593c;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.social-buttons li {
  opacity: 0.5;
  border: rgba(255, 255, 255, 0.5) solid 3px;
  border-radius: 50%;
}

.social-buttons li:hover {
  opacity: 1;
}
.social-buttons li:focus-within {
  opacity: 1;
}

.social-buttons li:active {
  opacity: 0.5;
}

.btn-twitter a {
  display: block;

  width: 32px;
  height: 32px;

  background-image: url("../img/twitter-icon.svg");
}

.btn-instagram a {
  display: block;

  width: 32px;
  height: 32px;

  background-image: url("../img/instagram.svg");
}

.btn-facebook a {
  display: block;

  width: 32px;
  height: 32px;

  background-image: url("../img/facebook-icon.svg");
}

.btn-vk a {
  display: block;

  width: 32px;
  height: 32px;

  background-image: url("../img/vk-icon.svg");
}

.footer-copyrigh img {
  padding: 2px 0;
}

.footer-copyrigh p {
  margin-top: 0;
}

.price-description {
  position: relative;
  z-index: 215;

  margin-top: -106px;
  margin-left: -2px;
  padding-bottom: 75px;

}

p.price {
  width: 155px;
  margin-bottom: 19px;
  margin-left: 9px;
}

.price-description a {
  display: block;

  padding: 0 17px;

  text-align: center;
}

div.product {
  min-height: 405px;
  margin-top: 5px;
  padding-left: 5px;

  text-align: center;
}

section.assortment {
  width: 1200px;
  margin-left: -12px;
}

div.assortment {
  width: 1200px;
  margin-left: -12px;
}

.paginator {
  display: inline-block;

  width: 100%;
  min-height: 54px;
  margin-bottom: 2px;
  padding-bottom: 14px;

  vertical-align: top;

  border-bottom: 1px solid #ffffff;
}

.activ-page > a {
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 7px;
  padding-left: 14px;

  border-radius: 16px;
  background-color: #d07058;
}

.checkout-section {
  position: absolute;
  top: 59px;
  right: 27px;

  display: none;

  width: 540px;
  margin: 0;
  padding: 0;

  border-radius: 4px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.checkout-section a {
  text-decoration: none;

  color: #323232;
}

.btn-shopping-basket:hover .checkout-section {
  display: block;
}

.main-navigation-catalog li {
  padding: 8px 22px 5px 20px;

}

a.checkout-btn {
  float: right;

  margin: -2px 15px 21px 20px;
  padding: 10px 15px;

  color: #fefefe;
  border: none;
  border-radius: 25px/30px;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}


button.cancel-btn {
  padding-left: 0;

  border: none;
  background-color: transparent;
}

.checkout-section table {
  margin-top: 17px;
  margin-left: 15px;

  border-collapse: collapse;

  color: #323232;

  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
}

.checkout-section td {
  padding-bottom: 20px;
}

.last-row td {
  padding-bottom: 18px;

  border-bottom: 1px solid black;
}

td.cancel-btn {
  width: 25px;
}

td.midget-img {
  width: 45px;
}

td.article-icecream {
  width: 225px;
}

td.weight {
  width: 70px;
  padding-left: 25px;
}

td.basket-price {
  width: 70px;

  color: #999999;
}

td.basket-price-summ {
  width: 76px;
  padding-left: 9px;
}

p.total-price {
  padding-right: 13px;

  text-align: right;

  color: #323232;

  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
}

.submit-logon, .submit-feedback, .submit-subscription-field, .checkout-btn, .feedback-btn {
  background: -webkit-gradient(linear, left top, right top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
  background: -webkit-linear-gradient(left, rgb(231, 74, 53) 0, rgb(242, 104, 67) 100%);
  background: -o-linear-gradient(left, rgb(231, 74, 53) 0, rgb(242, 104, 67) 100%);
  background: linear-gradient(90deg, rgb(231, 74, 53) 0, rgb(242, 104, 67) 100%);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.submit-logon:hover, .submit-feedback:hover, .submit-subscription-field:hover, .checkout-btn:hover, .feedback-btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))),
  -webkit-gradient(linear, left top, right top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 100%),
  -webkit-linear-gradient(left, rgb(231, 74, 53) 0, rgb(242, 104, 67) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 100%),
  -o-linear-gradient(left, rgb(231, 74, 53) 0, rgb(242, 104, 67) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 100%),
  linear-gradient(90deg, rgb(231, 74, 53) 0, rgb(242, 104, 67) 100%);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.submit-logon:active, .submit-feedback:active, .submit-subscription-field:active, .checkout-btn:active, .feedback-btn:active {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))),
  -webkit-gradient(linear, left top, right top, from(rgb(242, 104, 67)), to(rgb(231, 74, 53)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.07) 0, rgba(0, 0, 0, 0.07) 100%),
  -webkit-linear-gradient(left, rgb(242, 104, 67) 0, rgb(231, 74, 53) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.07) 0, rgba(0, 0, 0, 0.07) 100%),
  -o-linear-gradient(left, rgb(242, 104, 67) 0, rgb(231, 74, 53) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0, rgba(0, 0, 0, 0.07) 100%),
  linear-gradient(90deg, rgb(242, 104, 67) 0, rgb(231, 74, 53) 100%);
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
  box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;

  margin-top: 0;



  -ms-flex-wrap: wrap;


  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.pagination a {
  display: block;

  width: 27px;
  height: 26px;
  margin-left: 2px;
  padding-top: 4px;

  text-align: center;
  text-decoration: none;

  color: #fff;
  border-radius: 50%;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.pagination a {
  color: #fff;
  background-color: transparent;
}

.pagination a:hover:not(.active):not(.next-page):not(.previos-page):not(:active) {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination .active, .pagination a:active:not(.next-page):not(.previos-page) {
  color: #353535;
  background-color: #fff;
}

a.next-page {
  width: 22px;

  background-image: url("../img/arrow-page-next.png");
  background-repeat: no-repeat;
  background-position: right;
}

.previos-page {
  background-image: url("../img/arrow-page-previos.png");
  background-repeat: no-repeat;
  background-position: left;
}

div.address {
  position: absolute;
  right: 27px;
  bottom: 67px;

  width: 302px;
  min-height: 305px;
  padding-top: 15px;
  padding-left: 25px;

  text-align: left;

  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.98);
}

.address p {
  margin-bottom: 1px;
  padding-right: 100px;

  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.address p:first-child { padding-right: 125px;}

.address address {
  margin-bottom: 18px;
  padding-right: 25px;

  color: #323232;

  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
}
.address a:first-of-type {
  display: block;

  margin-top: 5px;

  text-decoration: none;
  letter-spacing: 0.5px;

  color: #323232;

  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.address p:last-of-type {
  margin-top: 3px;
  margin-bottom: 33px;
}

.address .btn-feedback {
  margin-bottom: 31px;
  padding: 10px 29px;

  text-decoration: none;
  letter-spacing: 0;

  color: #fefefe;
  border: none;
  border-radius: 25px/30px;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.slider-imgs {
  position: relative;

  width: 100%;
}

.slider-block-1 .slider-img-1 {
  position: absolute;
  z-index: 1;
  top: -34px;
  left: 150px;

  width: 50%;
  height: 584px;

  background: url("../img/slider-1-1.png") center no-repeat;
}

.slider-block-1 .slider-img-2 {
  position: absolute;
  z-index: 0;
  top: 9px;
  right: 129px;

  width: 50%;
  height: 519px;

  background: url("../img/slider-1-2.png") center no-repeat;
}

.slider-block-2 .slider-img-1 {
  position: absolute;
  z-index: 1;
  top: -34px;
  left: 150px;

  width: 50%;
  height: 584px;

  background: url("../img/slider-2-1.png") center no-repeat;
}

.slider-block-2 .slider-img-2 {
  position: absolute;
  z-index: 0;
  top: 9px;
  right: 129px;

  width: 50%;
  height: 519px;

  background: url("../img/slider-2-2.png") center no-repeat;
}

.slider-block-3 .slider-img-1 {
  position: absolute;
  z-index: 1;
  top: -34px;
  left: 150px;

  width: 50%;
  height: 584px;

  background: url("../img/slider-3-1.png") center no-repeat;
}

.slider-block-3 .slider-img-2 {
  position: absolute;
  z-index: 0;
  top: 9px;
  right: 129px;

  width: 50%;
  height: 519px;

  background: url("../img/slider-3-2.png") center no-repeat;
}

.slider-order {
  position: relative;
  z-index: 5;
  left: 50%;

  width: 700px;
  margin-left: -350px;
  padding-top: 274px;

  text-align: center;
}

.slide-title {
  margin: 0 auto;
  margin-bottom: 30px;

  color: #ffffff;

  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
}

.button {
  display: inline-block;

  padding: 12px 44px;

  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;

  color: #ffffff;
  border: none;
  border-radius: 50px;
  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0, #e74a35 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  font-size: 31px;
  font-weight: 600;
  line-height: 41px;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;

  width: 21px;
  height: 21px;
  margin-right: 8px;

  cursor: pointer;
  vertical-align: top;

  opacity: 0.8;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
}

.slider-controls label:hover {
  opacity: 1;
}

.slider-radio:focus ~ .slider-controls label {
  opacity: 1;
  outline: 1px dotted rgba(255,255,255,0.8);
  outline-offset: 1px;
}

.slider-controls {
  position: relative;
  z-index: 20;

  margin-top: -43px;
  margin-bottom: 23px;

  font-size: 0;
}

.site-wrapper {
  width: 100%;
  height: 100%;
}

#product-1:checked ~ .site-wrapper-background {
  -webkit-transition: background-image 1.3s ease, background-color 1.3s ease;
  -o-transition: background-image 1.3s ease, background-color 1.3s ease;
  transition: background-image 1.3s ease, background-color 1.3s ease;

  background-color: #849d8f;
}

#product-2:checked ~ .site-wrapper-background {
  -webkit-transition: background-image 1.3s ease, background-color 1.3s ease;
  -o-transition: background-image 1.3s ease, background-color 1.3s ease;
  transition: background-image 1.3s ease, background-color 1.3s ease;

  background-color: #8996a6;
}

#product-3:checked ~ .site-wrapper-background {
  -webkit-transition: background-image 1.3s ease, background-color 1.3s ease;
  -o-transition: background-image 1.3s ease, background-color 1.3s ease;
  transition: background-image 1.3s ease, background-color 1.3s ease;

  background-color: #9d8b84;
}

#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"],
#product-3:checked ~ .slider-controls label[for="product-3"] {
  background-color: #ffffff;
}

.slider-block-1, .slider-block-2, .slider-block-3 {
  display: none;
}


#product-1:checked ~ #slide1,
#product-2:checked ~ #slide2,
#product-3:checked ~ #slide3 {
  display: block;
}

.promo-block {
  position: relative;
  z-index: 3;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: 229px;
  padding-top: 41px;

  color: #ffffff;



  -webkit-box-pack: justify;


  -ms-flex-pack: justify;


  justify-content: space-between;
}

.promo-1 {
  float: left;

  width: 560px;
  min-height: 229px;
  margin-left: 0;

  border-radius: 16px;
  background: url("../img/promo-1-fon.jpg") center no-repeat;
  background-color: #770511;
  background-size: cover;
}

.promo-2 {
  float: right;

  width: 560px;
  min-height: 229px;
  margin-right: 0;

  border-radius: 16px;
  background: url("../img/promo-2-fon.jpg") center no-repeat;
  background-color: #512517;
  background-size: cover;
}

.promo-block h3 {
  margin: 15px 0 16px 18px;

  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.promo-block p {
  margin: 0;
  padding-right: 25px;
  padding-left: 18px;

  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.promo-block .button {
  float: right;

  margin-top: 43px;
  margin-right: 23px;
  margin-bottom: 23px;
  padding: 11px 22px;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

li.hit::before {
  position: absolute;
  z-index: 217;
  top: 6px;
  left: 14px;

  content: url("../img/index-catlog-hit.png");
}

.filter-up-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 16px;
  padding-top: 25px;
}

.filters fieldset {
  margin: 0 15px 0 0;
  padding: 0;

  border: none;
}



.filters legend {
  margin-bottom: 7px;
  margin-left: 15px;

  color: #fff;

  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
}

.filter-background {
  padding: 7px 12px;

  border-radius: 25px;
  background-color: rgba(255, 255, 255, .3);
}

.fat-content .filter-background {
  padding: 0 12px;
}

.filter-sorting {
  min-width: 170px;
  padding: 0 17px 0 0;

  color: inherit;
  border: none;
  background-color: transparent;



  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-sorting:hover {
  cursor: pointer;

  color: #323232;
}

.filter-sorting option {
  color: #323232;
}

.filter-sorting::-ms-expand {
  display: none;
}

.sorting {
  position: relative;
}

.sorting span {
  position: absolute;
  top: 12px;
  right: 14px;

  width: 11px;
  height: 10px;

  pointer-events: none;

  background-image: url("../img/filter-icon-white.png");
}

.filter-sorting:hover + span {
  background-image: url("../img/filter-icon-black.png");
}


.price-controls label::after {
  content: " руб.";
}

.price-controls input {
  width: 26px;

  color: inherit;
  border: none;
  background-color: transparent;

  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.ranges .filter-background {
  width: 220px;
}

legend.price-controls {
  margin-bottom: 4px;
}

.range-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: auto;
  height: 22px;
  padding: 1px 10px;



  -webkit-box-align: center;


  -ms-flex-align: center;


  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.scale-start {
  display: inline-block;

  width: 13px;
  height: 5px;

  vertical-align: top;

  background: rgba(255, 255, 255, .3);
}

.scale-end {
  display: inline-block;

  width: 45px;
  height: 5px;

  vertical-align: top;

  background: rgba(255, 255, 255, .3);
}

.range-price {
  display: inline-block;

  width: auto;
  height: 5px;

  vertical-align: top;

  background: rgba(255, 255, 255, 1);



  -webkit-box-flex: 1;


  -ms-flex-positive: 1;


  flex-grow: 1;
}

.range-toggle-min {
  width: 20px;
  height: 20px;

  cursor: pointer;

  border-radius: 50%;
  background-color: #ababab;
  -webkit-box-shadow: inset 0 0 0 8px #ffffff;
  box-shadow: inset 0 0 0 8px #ffffff;
}

.range-toggle-min:hover {
  width: 22px;
  height: 22px;
}

.range-toggle-max {
  width: 20px;
  height: 20px;

  cursor: pointer;

  border-radius: 50%;
  background-color: #ababab;
  -webkit-box-shadow: inset 0 0 0 8px #ffffff;
  box-shadow: inset 0 0 0 8px #ffffff;
}

.range-toggle-max:hover {
  width: 22px;
  height: 22px;
}

.fat-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-width: 389px;
  min-height: 20px;
  margin: 0 0;
  padding-top: 2px;
  padding-left: 37px;

  list-style-type: none;



  -ms-flex-wrap: wrap;


  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fat-content li {
  position: relative;

  margin-right: 54px;
  margin-left: -5px;
  padding: 7px 0;

  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
}
.fat-content li:last-of-type {
  margin-right: 4px;
}
.fat-content label::before {
  position: absolute;
  top: 4px;
  left: -31px;

  width: 22px;
  height: 22px;

  content: "";

  opacity: 0.8;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.fat-content label {
  opacity: 0.8;
}

.radio-fat:checked ~ label::after {
  position: absolute;
  top: 11px;
  left: -24px;

  width: 8px;
  height: 8px;

  content: "";

  opacity: 0.8;
  border-radius: 50%;
  background-color: #ffffff;
}

.filter-down-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-width: 860px;



  -webkit-box-align: center;


  -ms-flex-align: center;


  align-items: center;
}

.filters-submit {
  padding: 6px 28px;

  cursor: pointer;

  color: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .2);



  -ms-flex-item-align: end;


  align-self: flex-end;
}

.filters-submit:hover {
  color: #323232;
  background-color: #ffffff;
}

.filters-submit:active {
  color: #323232;
  border-color: #eaeaea;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 -2px 1px 0 rgba(105, 105, 105, 1);
  box-shadow: 0 -2px 1px 0 rgba(105, 105, 105, 1);
}

.fillers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-width: 389px;
  min-height: 20px;
  margin: 0 0;
  padding-top: 2px;
  padding-left: 37px;

  list-style-type: none;



  -ms-flex-wrap: wrap;


  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fillers li {
  position: relative;

  padding-top: 7px;
  padding-right: 55px;
  padding-bottom: 7px;
}

.fillers .filter-background {
  padding: 0 12px;
}

.fillers li:last-of-type {
  margin-right: 0;
  padding-right: 5px;
}

.checkbox-filter + label {
  opacity: 0.8;

  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
}

.checkbox-filter ~ label::before {
  position: absolute;
  z-index: 5;
  top: 4px;
  left: -35px;

  width: 24px;
  height: 24px;

  content: "";

  opacity: 0.8;
  background-image: url(../img/filter-checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox-filter ~ label {
  opacity: 0.8;
}

.checkbox-filter:checked + label::before {
  background-image: url(../img/filter-checkbox-on.svg);
}

.checklist:hover label::before, .checklist:hover label::after, .checklist:hover label {
  opacity: 1;
}

.checkbox-filter:disabled ~ label::before, .checkbox-filter:disabled ~ label::after, .checkbox-filter:disabled ~ label {
  cursor: default;

  opacity: 0.4;
}

.radio-fat:hover ~ label::before, .radio-fat:hover ~ label::after, .radio-fat:hover ~ label {
  opacity: 1;
}

.filter-option label {
  cursor: pointer;
}

.btn-search input:hover {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.btn-search input:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.btn-search input {
  color: #323232;
  outline: 0;
  outline-offset: 0;

  font-weight: bold;
}

.btn-search input::-webkit-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.btn-search input:-ms-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.btn-search input::-ms-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.btn-search input::placeholder {
  color: #999999;

  font-weight: normal;
}

.btn-user-navigation input:hover {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.btn-user-navigation input:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.btn-user-navigation input {
  color: #323232;
  outline: 0;
  outline-offset: 0;

  font-weight: bold;
}

.btn-user-navigation input::-webkit-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.btn-user-navigation input:-ms-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.btn-user-navigation input::-ms-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.btn-user-navigation input::placeholder {
  color: #999999;

  font-weight: normal;
}

.mail-content input:hover {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.mail-content input:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.mail-content input {
  color: #323232;
  outline: 0;
  outline-offset: 0;

  font-weight: bold;
}

.mail-content input::-webkit-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.mail-content input:-ms-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.mail-content input::-ms-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.mail-content input::placeholder {
  color: #999999;

  font-weight: normal;
}

.feedback input:hover {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.feedback input:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.feedback input {
  color: #323232;
  outline: 0;
  outline-offset: 0;

  font-weight: bold;
}

.feedback input::-webkit-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.feedback input:-ms-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.feedback input::-ms-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.feedback input::placeholder {
  color: #999999;

  font-weight: normal;
}

.feedback textarea:hover {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.feedback textarea:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.feedback textarea {
  color: #323232;
  outline: 0;
  outline-offset: 0;

  font-weight: bold;
}

.feedback textarea::-webkit-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.feedback textarea:-ms-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.feedback textarea::-ms-input-placeholder {
  color: #999999;

  font-weight: normal;
}

.feedback textarea::placeholder {
  color: #999999;

  font-weight: normal;
}

.full-screen-field {
  position: fixed;
  z-index: 234;
  top: 0;
  left: 0;

  display: none;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal-show {
  display: block;

}

button.feedback-close {
  position: absolute;
  top: 9px;
  right: 11px;

  margin: 0;
  padding: 5px;

  cursor: pointer;

  background-color: transparent;
}

.slider-block-1 .slider-img-0 {
  position: absolute;
  z-index: 1;
  top: -34px;
  left: 250px;

  display: inline-block;

  vertical-align: top;
}

.slider-block-2 .slider-img-0 {
  position: absolute;
  z-index: 1;
  top: -34px;
  left: 250px;

  display: inline-block;

  vertical-align: top;
}

.slider-block-3 .slider-img-0 {
  position: absolute;
  z-index: 1;
  top: -34px;
  left: 250px;

  display: inline-block;

  vertical-align: top;
}

li.product:hover {
  z-index: 5;

  background-color: rgba(248, 247, 244, 0.2);
}

li.product:focus-within {
  z-index: 5;

  background-color: rgba(248, 247, 244, 0.2);
}

.button.quick-view {
  position: absolute;
  z-index: 5;
  bottom: 27px;
  left: 45px;

  display: none;

  padding: 10px 20px;

  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

li.product:hover .quick-view {
  display: inline-block;

  vertical-align: top;
}
li.product:focus-within .quick-view {
  display: inline-block;

  vertical-align: top;
}

.product img {
  position: relative;
}

li.product:hover img {
  z-index: 211;
}

.no-close-window {
  position: absolute;
  top: 0;

  width: 150px;
  height: 50px;
}

.upper-level {
  padding: 13px 0;
}

.btn-search {
  margin-top: 5px;
  padding: 13px 0;
}

div.btn-user-navigation {
  margin-top: 9px;
  padding: 13px 0;
}

div.btn-shopping-basket {
  margin-top: 9px;
  padding: 13px 0;
}

.map-space iframe {
  width: 100%;
}

.checkbox-filter:focus + label::before, .checkbox-filter:focus + label {
  opacity: 1;
}

.radio-fat:focus ~ label::before, .radio-fat:focus ~ label::after, .radio-fat:focus ~ label {
  opacity: 1;
}

.hide-filter-input {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.site-wrapper-background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
}
