html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 1250px;
  margin: 0;

  background-color: #849d8f;

  font-family: "Roboto", "Arial", sans-serif;
}

img {
  max-width: 100%;
}

/*Невидимые заголовки*/
.visibility-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

/*временно спрятаны всплывающие окна*/
.checkout-section {
  display: none;
}

/*Псевдоэлементы*/
.weight::after {
  content: " кг х";
}

.basket-price::after {
  content: " Руб.";
}

span.kg::before {
  content: " ₽";

  font-size: 45px;
  font-weight: bold;
}

/*цвет ссылок хедер, футер, крошки*/
.main-footer a, .contacts a, .breadcrumbs a {
  color: #ffffff;
}

.main-footer a:hover, .contacts a:hover, .breadcrumbs a:hover {
  color: #ffbc9e;
}

.main-footer a:active, .main-header a:active, .breadcrumbs a:active {
  color: #ffbc9e;
}

/*метки списков*/
.list-none ul {
  list-style-type: none;
}

/*главное меню*/
.main-navigation a {
  color: #ffffff;

  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

.main-navigation-catalog a {
  text-decoration: none;

  color: #323232;
  /*background-color: #f8f7f4;*/

  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
}

a.a-bold {
  font-weight: bold;
}

.main-navigation-catalog li:hover {
  background-color: #fbded7;
}

.main-navigation-catalog li:active {
  background-color: #f6b5a5;
}

.main-navigation-catalog .menu-activ {
  background-color: #d07058;
}
.menu-activ a {color: #ffffff;}

.upper-level > a {
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 6px;
  padding-bottom: 7px;
  border-radius: 16px;
}

.upper-level >  a:hover {
  text-decoration: none;

  color: #323232;
  background-color: rgb(247, 246, 243);
}

/*навигация и корзина*/
.btn-user-navigation, .btn-shopping-basket {
  color: #ffffff;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.btn-shopping-basket .filled {
  color: #323232;
}

.logon-div a {
  color: #323232;
}

/*режим и контакт*/
.contacts {
  color: #ffffff;

  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.contacts a {
  letter-spacing: -0.4px;

  font-size: 22px;
  line-height: 24px;
}

/*особенности*/
section.features {
  border-radius: 16px;
  background-image: url("../img/background-features.jpg");
}

.features h2 {
  color: #323232;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features li {
letter-spacing: 0.1px;
  word-spacing: 0px;

  color: #323232;

  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

/*новости в блоге*/
article.news-blog {
  width: 560px;

  border-radius: 16px;
  background-image: url("../img/background-strawberry.jpg");
}

.news-blog h2 {
  color: #323232;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 23px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.news-blog a {
  display: block;
  color: #323232;

  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 20px;
  max-width: 310px;
}

/*подписка-----------------
---------переделать рамку размеры прописаны временно*/
section.subscription {
  position: relative;

  width: 560px;
  height: 220px;

  border-radius: 16px;
  background-image: url("../img/mail-background.png");
}

div.mail-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 549px;
  height: 211px;
  margin: auto;

  border-radius: 16px;
  background-color: #f8f7f4;
}
.mail-content p {
  margin-top: 30px;
  margin-left: 21px;
letter-spacing: 0.05px;
  padding-right: 10px;
}
/*----------------*/
.subscription p {
  color: #5a5a5a;

  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

.subscription input {
  color: #999999;

  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.subscription button {
  color: #fefefe;
  border: none;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

/*футер инфо*/
.footer-info a {
  color: #ffffff;

  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

/*футер копирайт*/
.footer-copyrigh, .footer-copyrigh a {
  color: #fefefe;

  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

/*крошки*/
.breadcrumbs a {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
}

.breadcrumbs li:last-of-type a {
  color: #ffffff;
}

/*каталог*/
.header-catalog {
  color: #ffffff;

  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.price {
  color: #ffffff;

  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}

.price .kg {
  font-size: 30px;
  font-weight: normal;
}

a.product {
  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

/*обрезание картинки в каталоге*/
.assortment img {
  width: 267px;
  height: 267px;

  border-radius: 50%;
}

/*кнопки поиск, навигация, корзина*/
button.btn-search {
  width: 33px;
  height: 33px;
  background-image: url("../img/search-icon.png");
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto auto;
}

button:hover.btn-search {
  background-image: url("../img/search-icon-hover.png");
  border: none;
  background-color: #f8f7f4;

}

button.btn-user-navigation {
  width: 93px;
  height: 32px;
  padding-right: 16px;

  text-align: right;
  background-image: url("../img/login-icon.png");
  border: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: 16px 50%;
  background-size: auto auto;
}

button.btn-user-navigation:hover {
  background-image: url("../img/login-icon-hover.png");
  color: #323232;
  border: none;
  background-color: #f8f7f4;
}

button.btn-shopping-basket {
  width: 100px;
  height: 33px;
  padding-right: 17px;

  text-align: right;
  background-image: url("../img/empty-basket-icon.svg");
  border: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: 16px 50%;
  background-size: auto auto;
}

button.btn-shopping-basket.filled {
  width: 117px;
  height: 32px;
  padding-right: 17px;

  text-align: right;
  background-image: url("../img/filled-basket-icon.svg");
  border: none;
  border-radius: 16px;
  background-color: rgba(248, 247, 244, 0.99);
  background-repeat: no-repeat;
  background-position: 16px 50%;
  background-size: auto auto;
}

/*крошки*/
.breadcrumbs ul {
  margin: 15px 0px 0px 0px;
  padding: 0px;
}

.breadcrumbs li {
  display: inline;

  margin-left: 0px;
}

.breadcrumbs li:not(:last-of-type)::after {
  padding-right: 2px;
  padding-left: 6px;

  content: "»";

  color: #ffffff;
}

/*----------------------------------------Стили для сетки*-----------------------------------*/
body {
  width: auto;
}

/*центрирование основных блоков*/
.content-center {
  width: 1146px;
  margin: 0 auto;
}

.main-header {
  display: flex;

  margin-bottom: 5px;


  justify-content: flex-start;
  align-items: center;
}

.logo-index {
  margin-top: 9px;
  margin-right: 10px;
}

.main-navigation ul {
  display: flex;
position: relative;
  padding: 0;
}

.main-navigation {
  margin-right: auto;
}

/*правые кнопки*/
.btn-shopping-basket {
  margin-right: 0px;
  margin-left: 5px;
}

.btn-user-navigation {
  margin-left: 5px;
}

/*пока пустой блок*/
.rezerv-space {
  width: auto;
  height: 1127px;
  margin-bottom: 69px;

  background-color: rgba(0, 175, 175, 0.2);
}
/*особенности*/
.features {
  min-height: 201px;
  margin-bottom: 40px;
}

.features h2 {
  padding-top: 25px;
  padding-left: 19px;

}

ul.features {
  display: flex;

  flex-wrap: wrap;
}
.features li:nth-child(odd) {
margin-right: 48px;
}
.features li{
  max-width: 483px;
  margin-right: auto;
  margin-left: 36px;
}
/*флекс блок новости и подписка*/
.news-subscription {
  display: flex;

  margin-bottom: 40px;


  justify-content: space-between;
}

/*пока пустой блок карта*/
.map-space {
  height: 430px;

  background-color: rgba(0, 175, 175, 0.2);
}
/*footer*/
.main-footer {
  display: flex;

  margin-top: 18px;


  justify-content: space-between;
}
ul.footer-info{
  display: flex;
position: relative;
  flex-wrap: wrap;
  max-width: 315px;
  padding-left: 0px;

}

.footer-info li:nth-child(odd) {
 width: 151px;
 padding-left: 9px;
 letter-spacing: 0.1px;
}
.footer-info li:first-child::before {
  content: url("../img/heart-icon.svg");
  position: absolute;
  left: -13px;
  top: 1px;
}


ul.social-buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  min-width: 186px;
}

/*крошки+контакт*/
.breadcrumbs-contacts {
  display: flex;

  width: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;


  justify-content: flex-start;
}

.breadcrumbs {
  margin-left: 0px;
}

.contacts {
  margin-right: 0px;
  margin-left: auto;
  padding-bottom: 0px;

  text-align: right;
}

.contacts p {
  margin: -10px 0px;
  padding-top: 0px;
  padding-bottom: 15px;
}

.contacts a {
  margin: 0px;
  padding: 0px;
}
/*catalog*/
.assortment ul {
  display: flex;

  margin: 0px;
  padding: 0px;


  flex-wrap: wrap;
  justify-content: space-between;
}

li.product {
  width: 267px;
}

.filtrs-space {
  min-height: 135px;
  margin-bottom: 60px;

  background-color: rgba(0, 175, 175, 0.2);
}

h1.header-catalog {
  margin: 3px 0px 0px 0px;
  padding: 0px;

  letter-spacing: -0.1px;
}


ul.main-navigation-catalog {
  display: none;
  position: absolute;
  top: 31px;
  left: -7px;
  background-color: #f8f7f4;
  border-radius: 4px;
  margin: 0px 0px 0px 0px;
  padding: 8px 0px 0px 0px;
}
.main-navigation-catalog li  {
  padding: 8px 22px 5px 20px;

}

.main-navigation-catalog li:first-of-type {
  /*исправить подчеркивание*/
  border-bottom: 1px solid gray;
  padding-top: 0px;
  padding-bottom: 11px;
}

.main-navigation-catalog li:last-of-type {
  margin-bottom: 7px;
}

.upper-level:hover ul.main-navigation-catalog {
  display: block;
}

div.btn-search, div.btn-user-navigation {
  position: relative;
}

.btn-search form {
  display: none;
  position: absolute;
  top: 37px;
  right: 0px;

  min-width: 341px;
  min-height: 84px;
  background-color: #f8f7f4;
  border-radius: 6px;
  text-align: center;
  vertical-align: center;
}

.btn-search:hover form {
  display: block;
}

.btn-search input {
  min-width: 310px;
}


.btn-user-navigation form {
  display: none;
  position: absolute;
  top: 37px;
  right: 0px;

  min-width: 277px;
  min-height: 214px;
  background-color: #f8f7f4;
  border-radius: 6px;
  text-align: center;
  vertical-align: center;
}

.btn-user-navigation:hover form {
  display: block;
}

.btn-user-navigation input {
  min-width: 240px;
}


section.feedback {
  /*display: flex;*/
  display: none;
  flex-wrap: wrap;
  position: absolute;
  top: 338px;
  left: 715px;



  max-width: 477px;
  max-height: 442px;

  min-width: 477px;
  min-height: 442px;
  background-color: #f8f7f4;
  border-radius: 8px;
  text-align: center;
}

.social-buttons li {
  border: rgba(255, 255, 255, 0.5) solid 3px;
  border-radius: 50%;
  opacity: 0.5;
}
.social-buttons li:hover {
  opacity: 1;
}
.social-buttons li:active {
  opacity: 0.5;
}
.btn-twitter a {
  display: block;
  background-image: url("../img/twitter-icon.svg");
  width: 32px;
  height: 32px;
  }

.btn-instagram a {
  display: block;
  background-image: url("../img/instagram.svg");
  width: 32px;
  height: 32px;
}
.btn-facebook a {
  display: block;
  background-image: url("../img/facebook-icon.svg");
  width: 32px;
  height: 32px;
}
.btn-vk a {
  display: block;
  background-image: url("../img/vk-icon.svg");
  width: 32px;
  height: 32px;
}

.footer-copyrigh img {
  padding: 2px 0px;
}
.footer-copyrigh p {
  margin-top: 0px;
}
