.visibility-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.weight:after {
    content: " кг х";
}

.basket-price::after {
    content: " Руб.";
}
span.kg::before {
    content: " ₽";
}
